@import "variables";
@import "mixins";

.exel__toolbar{
  position: absolute;

  height: $toolbar_height;
  top: $header_height;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 7px 10px;
  display: flex;
  .button{
    @include button(green);
  }
  i.active{
    color: green;
    background-color: #eee;
  }
  .button.active i{
    color: green;
    background-color: #eee;
  }
}